 
 ul {
    list-style-type: none;
   background-color:  #cccccc;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
  }
  
  li {
    float: left;
    color:#4aaaa5;
    background-color: #ffffff;
  }
  
  li a {
    

    color:#4aaaa5;
    display: block;
    color: #4aaaa5;
    text-align: center;
    padding: 14px 16px;
    background-color: #ffffff;
  }


  li b {
    color:#4aaaa5;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    margin-left: 200px;
    background-color: #ffffff;
    
  }

  
  li a:hover:not(.active) {
    background-color: #ffffff;
  }
  
  .active {
    background-color: #ffffff;
  }
  
 /**
 * Media Query Demo (note the commented rules)
 */

 * {
    box-sizing: border-box;
  }
  
  /*
    The background color will be #ccc
    at browser widths above 768px
  */
  body {
    /* Typography */
    font-size: 18px;
    line-height: 27px;
     
  }

  
  /*
    The width of the wrapper will be 1024px
    at browser widths above 768px
  */
  .wrapper {
    
    /* Box-model */
    width: 100%;
    
  
    /* Positioning */
    margin: 40px auto;
    
  }
  
  #main-content,
  #sidebar {
    /* Box-model */
    color:#777777;
    padding: 30px;
    max-width: 850px;
    margin: auto;
background-color: #ffffff;
border-color: #dddddd;
  }
  
  #main-content {
    /* Positioning */
    float: center;
    color:#777777;
    /* Visual */
    background-color: #ffffff;
    border-color: #dddddd;
  }
  
  #sidebar {
    /* Positioning */
    float: center;
    color:#777777;
    /* Visual */
    background-color: #ffffff;
    border-color: #dddddd;
    
  }
  
.footer {
    background-color:#666666;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #4aaaa5;
    font-size: 18px;
    font-weight: 900;
  }
  
  /*
    These rules take effect when the browser's width
    is either 768px or less.
  */
  @media screen and (max-width: 768px) {
    /* The body's bg color will be #333 */
    body {
      background-color: #333;
      
    }
  
    /* The wrapper's width will be 600px */
    .wrapper {
        
      width: 600px;
    }
  }